<% provide(:title, 'Login') %>
<h3>Login</h3>
<div class="row-fluid">
	<div class="span6">
		<%= form_tag sessions_path do %>
			<div class="field">
				<%= label_tag :email %>
				<%= text_field_tag :email, params[:email] %>
			</div>
			<div class="field">
				<%= label_tag :password, 'Passwort' %>
				<%= password_field_tag :password %>
			</div>
			<div class="actions">
				<%= submit_tag 'Login' %>
			</div>
		<% end %>
		
	</div>
</div>

