<% provide(:title, 'User ' + @user.name) %>
<section>
	
	<h3><i class="icon-user" style="vertical-align:middle"></i> <%= @user.name %></h3>
	<p><%= @user.email %></p>
	<% if @user == current_user %>
		<p><%= link_to('Profil bearbeiten', edit_user_path(current_user)) %></p>
	<% end %>
	<% if @articles_by_user.any? %>
		<h4 style="margin-top:50px">Beitr&auml;ge von <%= @user.name %></h4>
		<div class="well">
			<%= render 'shared/articles_preview', articles: @articles_by_user, condition: nil, is_version: false, movable: false %>
		</div>
	<% end %>
	
</section>
