<% spans = signed_in? ? [7, 2, 3] : [9, 0, 3]%>

<article>
	<div class="row-fluid article-preview-heading <%="muted" unless visible%>">
		<div class="preview-container span<%=spans[0]%>">
			<h3 class="article-preview-headline">
				<%= link_to(article.title, article_path(@id=article.id)) %>
			</h3>
		</div>
		<% if signed_in? %>
		<div class="preview-container span<%=spans[1]%>">
			<div class="article-edit-links ">
				<div class="well well-small" style="padding:3px">
					<%= render('shared/article_edit_links', article: article, is_version: false) %>
					<%= render('shared/article_move_links', articles: articles, i: i) if articles.any? %>
				</div>
			</div>
		</div>
		<% end %>
		<div class="preview-container span<%=spans[2]%>">
			<div class="muted article-info">
				<ul>
					<li><%= string_from_time(article.updated_at) %></li>
					<li><%= link_to(article.user.name, user_path(@id=article.user.id)) %></li>
				</ul>
			</div>
		</div>
	</div>
	<p class="article-preview-text lead">
		<%= (strip_tags((article.body)[0...1024]+"...")).html_safe %>
	</p>
</article>