<% number_of_days_from_now = (event.start_at.to_date - Date.today).to_i %>

<div class="<%= event.internal ? 'muted' : '' %>">

  <small>
  <p class="muted">
  <% if (event.start_at < DateTime.now) && (DateTime.now < event.end_at) then %>
    Jetzt
  <% elsif number_of_days_from_now > 1 then %>
    In <%= number_of_days_from_now %> Tagen
  <% elsif number_of_days_from_now == 1 then %>
    Morgen
  <% elsif number_of_days_from_now == 0 then %>
    Heute
  <% end %>
  </p>

  <h5><%= link_to(event.name, event) %></h5>
  <%= pretty_datetime_range_str(event.start_at, event.end_at) %>

  <br>

  
    <% if event.location_link && (not event.location_link.empty?) then %>
      <%= link_to(event.location, event.location_link) %>
    <% else %>
      <%= event.location %>
    <% end %>
    
    <br>

    <% if event.articles.any? then %>
      <br>
      <% event.articles.each_with_index do |article,i| %>
        <%= ', ' if i > 0 %>
        <%= link_to(article.title, article, title: article.preview ) %>
      <% end %>
    <% end %>

    <% if signed_in? %>
      <p><%= link_to('-- Bearbeiten --', edit_event_path(event)) %>
    <% end %>
  </small>

</div>