<small>

  <div class="<%= 'muted' if event.internal %>">

      <p class="muted">
        <%= number_of_days_from_now_str(event.start_at, event.end_at) %>
      </p>

      <h5>
        <span class="pull-left">
          <%= event.name %>
        </span>

        <% if signed_in? %>
          <%= render 'shared/edit_links', 
            links: edit_links_for_event(event), 
            pull: 'right'
          %> 
        <% end %>
      </h5>

      <p style="clear:both">
        <%= pretty_datetime_range_str(event.start_at, event.end_at) %>
      </p>

      <p>
        <% if event.location_link && (not event.location_link.empty?) then %>
          <%= link_to(event.location, event.location_link) %>
        <% else %>
          <%= event.location %>
        <% end %>
      </p>

      <% if event.articles.any? then %>
        mehr:
        <br>
        <% event.articles.each_with_index do |article,i| %>
          <%= ', ' if i > 0 %>
          <%= link_to(article.title, article, title: article.preview ) %>
        <% end %>
      <% end %>

  </div>

</small>
