<% provide(:title, "#{@article.title} - Versionen") %>
<h3>Fr&uuml;here Versionen von"<%= @article.title  %>"</h3>
<section>

	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>id</th><th>Aktion</th><th>ge&auml;ndert durch</th><th>Datum</th><th><!--empty header for actions row--></th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td></td>
			<td><%= link_to('aktuelle Version', @article) %></td>
			<td></td>
			<td><%= string_from_time(@article.updated_at) %></td>
			<td></td>
		</tr>
		<% @versions.each do |version| %>
			<tr>
				<td><%= version.object ? link_to(version.id, version, title: 'Zur Version') : version.id %></td>
				<td><%= version.event %></td>
				<% user = whodunnit_user(version) %>
				<td><%= user ? link_to(user.name, user) : '?' %></td>
				<td><%= string_from_time(version.created_at) %></td>
				<td><%= link_to('<i class="icon-time"></i>'.html_safe, revert_version_path(version), title: 'Auf diese Version zur&uuml;cksetzen'.html_safe, method: :post ) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	
</section>
