<p class="muted">
	-- Version <%= @version.id %> ge&auml;ndert durch "<%= whodunnit_string(@version) %>", am <%= string_from_time(@version.created_at) %> --
	<span class="pull-right"><%= link_to('&gt;&gt; zur aktuellen Version'.html_safe, article_path(@article.id) ) %></span>
</p>

<%= render 'shared/article_full_view', article: @article, is_version: true, single_page_category: false %>
