<% provide(:title, @category.name) %>

<h3><%= @category.name %></h3>

<% @articles.each do |article| %>
	
	<% if article.visible? %>
		<section class="well well-small">
			<%= render('shared/article_edit_links', article: article) if signed_in? %>
			<h3>
				<%= link_to(article.title, article_path(@id=article.id)) %>
			</h3>
			<p class="lead">
				<%= (article.body[0...266]+"...").html_safe %>
			</p>
		</section>
	<% elsif signed_in? %>
		<section class="well well-small muted">
			<%= render('shared/article_edit_links', article: article) %>
			<h3>
				<%= link_to(article.title, article_path(@id=article.id)) %>
			</h3>
			<p class="lead">
				<%= (article.body[0...266]+"...").html_safe %>
			</p>
		</section>
	<% end %>
	
<% end %>

<% if signed_in? %>
	<%= link_to('<i class="icon-plus pull-right"></i>'.html_safe, 
				new_article_path(category: @category.id), title: 
				'Beitrag hinzuf&uuml;gen'.html_safe) %>
<% end %>
