<% provide(:title, @category.name) %>

<h3><%= @category.name %><%= render('shared/category_edit_links', category: @category) if signed_in? %></h3>

<% @articles.each do |article| %>
	
	<% if article.visible? %>
		<section class="well well-small">
			<%= render('shared/article_edit_links', article: article, is_version: false) if signed_in? %>
			<%= render('shared/article_preview', article: article) %>
		</section>
	<% elsif signed_in? %>
		<section class="well well-small muted">
			<%= render('shared/article_edit_links', article: article, is_version: false) %>
			<%= render('shared/article_preview', article: article) %>
		</section>
	<% end %>
	
<% end %>

<% if signed_in? %>
	<%= link_to('<i class="icon-plus pull-right"></i>'.html_safe, 
				new_article_path(category: @category.id), title: 
				'Beitrag hinzuf&uuml;gen'.html_safe) %>
<% end %>
