<!DOCTYPE html>
<html>
<head>
  <title>FsPhilo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<div class="container-fluid">
		<%= render "layouts/header" %>
		<div class="row-fluid">
<!--			<div class="span2">-->
<!--				<%= render "layouts/sidebar" %>-->
<!--			</div>-->
			<div class="span12">
				<%= yield %>
			</div>
		</div>
		<%= debug(params) if Rails.env.development? %>
	</div>
</div>
</body>
</html>
